body {
	background-color: pink;
}
img {
	height: 175px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.head{
	background-image: url("../img/halftone-yellow/halftone-yellow/halftone-yellow.png");
}
li{
	margin-bottom: 5px;
}
